<div class="d-flex flex-column h-100 animate__animated animate__fadeIn">
	<header class="d-flex justify-content-end">
		<app-account></app-account>
	</header>
	<div class="h-100">
		<div class="d-flex align-items-center justify-content-center h-100">
			<div class="search-content text-center">
				<p><span class="logo-text">Image Search</span> - Pixabay</p>
				<div class="search-input">
					<app-search-form (search)="onSubmit($event)"></app-search-form>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="d-flex align-items-center line">
			<div class="flex-grow-1">
				<app-language-selector></app-language-selector>
			</div>
			<ul class="navbar">
				<li class="nav-item">
					<a class="nav-link">{{ "About" | translate }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link">{{ 'Terms of Use' | translate }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link">{{ 'Contact' | translate }}</a>
				</li>
			</ul>
		</div>
		<div class="d-flex align-items-center line2">
			<div class="flex-grow-1 d-none d-md-block copy-right">Degisned by thuyetngx. All rights reserved.</div>
			<div class="d-flex align-items-center">
				<a>
					<img src="assets/fa-icon.png" alt="Facebook" />
				</a>
				<a>
					<img src="assets/pin-icon.png" alt="Facebook" />
				</a>
				<a>
					<img src="assets/tw-icon.png" alt="Facebook" />
				</a>
				<a class="pr-0">
					<img src="assets/in-icon.png" alt="Facebook" />
				</a>
			</div>
		</div>
	</footer>

</div>
