@import "src/theme/theme-variables";

header {
	padding: 1rem;
	background: #fff;
	&.sticky {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 2;
		padding: .25rem 1rem;
		border-bottom: 1px solid $gray-400;
	}
	.logo {
		padding: .5rem 1rem .5rem 0;
		a {
			text-decoration: none;
			font-size: 20px;
			font-weight: 600;
			color: $gray-900;
			span {
				color: $main-color;
			}
		}
	}
}